ul{
    list-style-type: "\1F44D";
}

.menu2,h1{
color: rgb(183, 0, 255);

}

a:link {
    color: pink;
  }
  
a:visited {
color: green;
}

a {
  text-decoration: none;
}

.special{
color: brown;
}

aside{
    background-color: #5aa8f1;

    border: dashed red;
}

body{
    background-color: aliceblue;
    @media (min-width: 1em) {
        body {
          background-color: blue;
        }
    }
}
main{
padding: 50px;
    border: 5mm ridge rgba(143, 150, 20, 0.6);
    background-color:rgb(113, 156, 26);
    /* width: 10px; */
    width:calc(80% - 33px);
height: 300px;
}
.outer {
    border: 5px solid black;
  }
  
  .box {
    padding: 10px;
    width: calc(100% - 30px);
    background-color: rebeccapurple;
    color: white;
  }
  .box2 {
    margin: 40px;
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    transform: rotate(0.8turn);
  }
  
  