p,
h1,
h3,
h4,
h5,
li {
color: red;

}
h2 {
color: rgb(14, 231, 130);

}

a:hover{

    color: rgb(200, 241, 15);

}

html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  }
  
